@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

ul, ol {
  list-style: none; }

button:focus-within {
  outline: none; }

html {
  font-family: 'Mukta', sans-serif; }

body {
  background-color: #F8F8F8; }

.fa, .fas {
  font-weight: 300; }

.app__container {
  display: grid;
  grid-template-columns: 5% auto 5%; }

.dashboard {
  display: grid;
  grid-template-columns: 30% 40% 30%; }

.header {
  width: 100%;
  font-weight: 300;
  border-bottom: 0.6px solid #FF9966;
  background-color: #FFFFFF; }
  .header .container {
    display: grid;
    grid-template-columns: 5% auto 5%; }
  .header .flex {
    display: flex;
    justify-content: space-between; }
  .header h1 {
    font-size: 1.6rem;
    font-style: italic; }
  .header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .nav .nav__link {
      padding-right: 1rem; }
    .header .nav i {
      font-size: 1.1rem;
      padding-right: .4rem; }
  @media screen and (max-width: 450px) {
    .header .container {
      display: grid;
      grid-template-columns: auto; }
    .header .flex {
      flex-direction: column; }
    .header h1 {
      text-align: center; }
    .header .nav {
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: .4rem; } }

input, select {
  width: 100%;
  font-size: 1rem;
  padding: .3rem;
  margin-top: .3rem;
  margin-bottom: .3rem;
  border-radius: 1%;
  background-color: white; }

input[type=submit] {
  width: 85%;
  background-color: #FF991F;
  border-radius: 1%;
  color: #F0F0F0;
  border: none; }

input:focus, select:focus {
  border: .1rem solid #F8F8F8; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
  border-radius: 1%;
  background-color: #F0F0F0; }

.addReport__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F0F0;
  margin: .4rem;
  border-radius: 1%;
  /* Safari */ }
  .addReport__container .result__list {
    background-color: #C7FFA0;
    width: 85%;
    text-align: center; }
    .addReport__container .result__list div {
      font-size: .9375rem;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: .1875rem;
      cursor: pointer; }
    .addReport__container .result__list div:hover + div > div:hover {
      background-color: #C7E884; }
    .addReport__container .result__list div > div {
      font-size: .8rem;
      font-style: italic;
      border-bottom: dotted 2px #ccc; }
  .addReport__container h3 {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .addReport__container form {
    width: 100%; }
    .addReport__container form h3 {
      padding-top: .4rem;
      padding-bottom: .4rem; }
  .addReport__container label {
    width: 100%; }
  .addReport__container input[type=text] {
    width: 85%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4%;
    font-size: 16px;
    background-color: white;
    text-align: center;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: .6rem;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.5s ease-in-out; }
  .addReport__container input[type=date] {
    text-align: center; }
  .addReport__container button {
    display: inline-block;
    width: 85%;
    padding: .6rem;
    margin: 0.1em;
    border: 0.15em solid #CCCCCC;
    border-radius: 4%;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #CCCCCC;
    text-align: center;
    position: relative; }
  .addReport__container button:hover {
    border-color: #7a7a7a; }
  .addReport__container button:active {
    background-color: #999999; }
  @media all and (max-width: 30em) {
    .addReport__container  button {
      display: block;
      margin: 0.2em auto; } }
  .addReport__container .loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    z-index: 999; }
    .addReport__container .loader:after {
      border: 1.2rem solid #f3f3f3;
      border-radius: 50%;
      border-top: 1.2rem solid #FF991F;
      width: 7rem;
      height: 7rem;
      display: block;
      -webkit-animation: spin 2s linear infinite;
      /* Safari */
      animation: spin 2s linear infinite;
      position: relative;
      content: '';
      left: 50%;
      top: 50%;
      margin-left: -6rem;
      margin-top: -6rem; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.addMeal {
  display: flex;
  flex-direction: column;
  align-items: center; }

.addMeal > div {
  display: flex;
  justify-content: center;
  align-items: center; }

.addMeal > div > h3 {
  margin-bottom: 0; }

.addMeal > input {
  margin-top: 0;
  margin-bottom: 0; }

input[type=date] {
  margin: 0 auto;
  width: 100%;
  font-family: 'Mukta', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #F0F0F0;
  outline: none;
  border: 0;
  left: 50%; }
  input[type=date]::-webkit-clear-button {
    display: none; }
  input[type=date]::-webkit-calendar-picker-indicator {
    font-size: 18px;
    color: #FF991F;
    border-radius: 50%; }
    input[type=date]::-webkit-calendar-picker-indicator:hover {
      background-color: #fff6eb;
      color: black;
      cursor: pointer; }
    input[type=date]::-webkit-calendar-picker-indicator:active {
      color: blue; }

.dailyReport__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F0F0;
  margin: .4rem;
  border-radius: 2.4%; }
  .dailyReport__container h3 {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .dailyReport__container .date__container {
    border: 2px solid #FF991F;
    background-color: #FF991F;
    width: 85%;
    text-align: center;
    padding: 2%;
    margin: 2%;
    border-radius: 2%; }
  .dailyReport__container .report__list {
    width: 85%;
    text-align: center; }
    .dailyReport__container .report__list div {
      font-size: .9375rem;
      font-weight: 500;
      line-height: 1.2;
      background-color: #C7FFA0;
      border-radius: 5px;
      margin-top: 2%;
      margin-bottom: 2%; }
    .dailyReport__container .report__list div > div {
      font-size: .8rem;
      font-style: italic;
      border-radius: 5px; }

.battery__container {
  display: flex;
  justify-content: center;
  background-color: #F0F0F0;
  margin: .4rem;
  border-radius: 2.4%; }
  .battery__container i {
    font-size: 6rem;
    color: white; }

.container__flex--user {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .container__flex--user h3 {
    font-size: 1.5rem;
    padding-top: 1.5rem; }
  .container__flex--user h5 {
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 1.5rem; }
  .container__flex--user input {
    border-radius: 0; }
  .container__flex--user .form__user {
    font-size: 1.2rem;
    display: flex;
    background-color: #F0F0F0;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    border-radius: 4%; }
  .container__flex--user label {
    padding-top: 1%;
    padding-bottom: 1%; }
  .container__flex--user label[for=activity] p {
    text-align: center; }
  .container__flex--user label[for=activity] select {
    width: 80%; }
  .container__flex--user input[type=submit] {
    width: 100%;
    text-align: center; }

.user__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F0F0;
  margin: .4rem;
  border-radius: 2.4%; }
  .user__container h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center; }
  .user__container p:last-child {
    padding-bottom: 1rem; }
