input, select {
  width: 100%;
  font-size: 1rem;
  padding: .3rem;
  margin-top: .3rem;
  margin-bottom: .3rem;
  border-radius: 1%;
  background-color: white;
}

input[type=submit] {
  width: 85%;
  background-color: $inputSubmitBGColor;
  border-radius: 1%;
  color: #F0F0F0;
  border: none;
}

input:focus, select:focus {
  border: .1rem solid #F8F8F8;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
  border-radius: 1%;
  background-color: $formBGColor;
}

.addReport__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F0F0;

  margin: .4rem;
  border-radius: 1%;

  .result__list {
    background-color: $apiResultsBGColor;
    width: 85%;
    text-align: center;

    div {
      font-size: .9375rem;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: .1875rem;
      cursor: pointer;
    }

    div:hover {
      background-color: $apiResultsBGHoverColor;
    }

    div > div {
      font-size: .8rem;
      font-style: italic;
      border-bottom: dotted 2px #ccc;
    }
  }

  h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  form {
    width: 100%;

    h3 {
      padding-top: .4rem;
      padding-bottom: .4rem;
    }
  }

  label {
    width: 100%;
  }

  input[type=text] {
    width: 85%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4%;
    font-size: 16px;
    background-color: white;
    //background-image: url('searchicon.png');
    text-align: center;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: .6rem;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.5s ease-in-out;
  }

  input[type=date] {
    text-align: center;
  }

  button {
    display: inline-block;
    width: 85%;
    padding: .6rem;
    margin: 0.1em;
    border: 0.15em solid $buttonColor;
    border-radius: 4%;
    box-sizing: border-box;
    text-decoration: none;
    background-color: $buttonColor;
    text-align: center;
    position: relative;
  }

  button:hover {
    border-color: $buttonHoverColor;
  }

  button:active {
    background-color: $buttonActiveColor;
  }

  @media all and (max-width: 30em) {
     button {
      display: block;
      margin: 0.2em auto;
    }
  }

  // loader
  .loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(black, .5);
    left: 0;
    top: 0;
    z-index: 999;

    &:after {
      border: 1.6rem solid #f3f3f3;
      border-radius: 50%;
      border-top: 1.6rem solid $inputSubmitBGColor;
      width: 12rem;
      height: 12rem;
      display: block;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
      position: relative;
      content: '';
      left: 50%;
      top: 50%;
      //transform: translateX(-50%) translateY(-50%);
      margin-left: -6rem;
      margin-top: -6rem;
    }

  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}

//.popularFood__container {
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//  width: 100%;
//  background-color: #F0F0F0;
//  margin-bottom: 1rem;
//  margin-top: 1rem;
//  text-align: center;
//
//  div {
//    background-color: transparent;
//  }
//
//  div:hover {
//    background-color: #C7E884;
//  }
//}

.addMeal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addMeal > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addMeal > div > h3 {
  margin-bottom: 0;
}

.addMeal > input {
  margin-top: 0;
  margin-bottom: 0;
}

input[type=date] {
  margin: 0 auto;
  width: 100%;
  font-family: 'Mukta', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #F0F0F0;
  outline: none;
  border: 0;
  left: 50%;

  &::-webkit-clear-button {
    display: none;
  }
  //&::-webkit-inner-spin-button {
  //  height: 30px;
  //}
  &::-webkit-calendar-picker-indicator {
    font-size: 18px;
    color: $inputSubmitBGColor;
    border-radius: 50%;

    &:hover {
      background-color: lighten($inputSubmitBGColor,40%);
      color: darken(black, 10%);
      cursor: pointer;
    }
    &:active {
      color: blue;
    }
  }
}
