.archive__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F0F0;

  margin: .4rem;
  border-radius: 1%;

  h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .archive__panels {
    display: flex;
    flex-direction: row;

    .archive__single {
      color: black;
      background-color: $apiResultsBGHoverColor;
      margin: 1rem;
      padding: 1rem;
      text-align: center;
      border-radius: 4%;
      box-shadow: 10px 10px 28px -4px rgba(0, 0, 0, 0.67);

      h3 {
        padding-top: .2rem;
        padding-bottom: .2rem;
      }
    }
  }

}
