$containerBgColor: #F8F8F8;
$navBorderColor: #FF9966;
$navBGColor: #FFFFFF;
$formBGColor: #F0F0F0;
$buttonColor: #CCCCCC;
$buttonHoverColor: #7a7a7a;
$buttonActiveColor: #999999;
$inputSubmitBGColor: #FF991F;
$inputSubmitColor: #F0F0F0;
$apiResultsBGColor: #C7FFA0;
$apiResultsBGHoverColor: #C7E884;