.container__flex--user {
  display: flex;
  flex-direction: column;
  align-items: center;

  input, select {
    width: 100%;
    font-size: 1rem;
    padding: .3rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
    border-radius: 1%;
    background-color: white;
  }

  input:focus, select:focus {
    border: .1rem solid #F8F8F8;
  }

  input[type=submit] {
    width: 85%;
    background-color: $inputSubmitBGColor;
    border-radius: 1%;
    color: #F0F0F0;
    border: none;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
  }

  h5 {
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 1.5rem;
  }

  input {
    border-radius: 0;
  }

  .form__user {
    font-size: 1.2rem;
    display: flex;
    background-color: #F0F0F0;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    border-radius: 4%;
  }

  label {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  label[for=activity] p {
    text-align: center;
  }

  label[for=activity] select {
    width: 80%;
  }

  input[type=submit] {
    width: 100%;
    text-align: center;
  }

}