.header {
  width: 100%;
  font-weight: 300;
  border-bottom: .6px solid $navBorderColor;
  background-color: $navBGColor;

  .container {
    display: grid;
    grid-template-columns: 5% auto 5%;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 1.6rem;
    font-style: italic;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav__link {
      padding-right: 1rem;
    }

    i {
      font-size: 1.1rem;
      padding-right: .4rem;
    }
  }

  @media screen and (max-width: 450px) {
    .container {
      display: grid;
      grid-template-columns: auto;
    }

    .flex {
      flex-direction: column;
    }

    h1 {
      text-align: center;
    }
    .nav {
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: .4rem;
    }
  }


}