.header {
  width: 100%;
  font-weight: 300;
  padding: .2rem 1rem;
  border-bottom: .6px solid $navBorderColor;
  background-color: $navBGColor;

  .container {
    display: grid;
    grid-template-columns: 5% auto  auto 5%;
  }

  h1 {
    font-size: 1.6rem;
    font-style: italic;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      font-size: 1.3rem;
      padding-right: .4rem;
    }
  }

  @media screen and (max-width: 640px) {
    .container {
      display: grid;
      grid-template-columns: auto;
    }
    h1 {
      text-align: center;
    }
    .nav {
      justify-content: space-evenly;
      padding-bottom: .4rem;
    }
  }



}